.vs/ShiftPath/CopilotIndices/17.14.1686.8233/CodeChunks.db
.vs/ShiftPath/CopilotIndices/17.14.1686.8233/CodeChunks.db-shm
.vs/ShiftPath/CopilotIndices/17.14.1686.8233/CodeChunks.db-wal
.vs/ShiftPath/CopilotIndices/17.14.1686.8233/SemanticSymbols.db
.vs/ShiftPath/CopilotIndices/17.14.1686.8233/SemanticSymbols.db-shm
.vs/ShiftPath/CopilotIndices/17.14.1686.8233/SemanticSymbols.db-wal
.vs/ShiftPath/FileContentIndex/173a15a1-729c-4faa-a8ad-963bd451fb4e.vsidx
.vs/ShiftPath/FileContentIndex/45207f7a-ba74-4472-82ff-64421ef1a1f4.vsidx
.vs/ShiftPath/FileContentIndex/56beaca3-bbca-4a11-b9f5-cecd29046236.vsidx
.vs/ShiftPath/FileContentIndex/5f5ab38d-a2ca-4ab8-8716-cfa76670dc1a.vsidx
.vs/ShiftPath/FileContentIndex/9ed7d1b8-9d9c-4cc7-a596-64d70db4c300.vsidx
.vs/ShiftPath/v17/.suo
.vs/ShiftPath/v17/Browse.VC.db
.vs/ShiftPath/v17/Browse.VC.db-shm
.vs/ShiftPath/v17/Browse.VC.db-wal
.vs/ShiftPath/v17/Browse.VC.opendb
.vs/ShiftPath/v17/DocumentLayout.backup.json
.vs/ShiftPath/v17/DocumentLayout.json
.vs/ShiftPath/v17/ipch/44983a3f3c3361ab.ipch
App/engine/texture/box-shadow/128.png
App/engine/texture/box-shadow/16.png
App/engine/texture/box-shadow/256.png
App/engine/texture/box-shadow/32.png
App/engine/texture/box-shadow/64.png
App/engine/texture/box-shadow/8.png
App/example/bay.jpg
App/example/csv/config.csv
App/example/font/DotGothic16/DotGothic16-Regular.ttf
App/example/font/DotGothic16/OFL.txt
App/example/font/DotGothic16/README-JP.md
App/example/font/DotGothic16/README.md
App/example/font/RocknRoll/OFL.txt
App/example/font/RocknRoll/README-JP.md
App/example/font/RocknRoll/README.md
App/example/font/RocknRoll/RocknRollOne-Regular.ttf
App/example/geojson/countries.geojson
App/example/gif/test.gif
App/example/ini/config.ini
App/example/json/config.json
App/example/json/empty.json
App/example/json/invalid-blank.json
App/example/json/invalid-syntax.json
App/example/json/test.json
App/example/LICENSE.txt
App/example/midi/test.mid
App/example/midi/test.txt
App/example/obj/bark.jpg
App/example/obj/blacksmith.mtl
App/example/obj/blacksmith.obj
App/example/obj/credit.txt
App/example/obj/crystal1.mtl
App/example/obj/crystal1.obj
App/example/obj/crystal2.mtl
App/example/obj/crystal2.obj
App/example/obj/crystal3.mtl
App/example/obj/crystal3.obj
App/example/obj/leaves.png
App/example/obj/mill.mtl
App/example/obj/mill.obj
App/example/obj/pine.mtl
App/example/obj/pine.obj
App/example/obj/pine_leaves_red.png
App/example/obj/siv3d-kun-eye.png
App/example/obj/siv3d-kun.mtl
App/example/obj/siv3d-kun.obj
App/example/obj/siv3d-kun.png
App/example/obj/tree.mtl
App/example/obj/tree.obj
App/example/objdetect/haarcascade/eye.xml
App/example/objdetect/haarcascade/face_anime.xml
App/example/objdetect/haarcascade/frontal_catface.xml
App/example/objdetect/haarcascade/frontal_face_alt2.xml
App/example/particle.png
App/example/script/breakout.as
App/example/script/hello.as
App/example/script/paint.as
App/example/script/piano.as
App/example/script/test.as
App/example/shader/glsl/default2d.vert
App/example/shader/glsl/default2d_shape.frag
App/example/shader/glsl/default2d_texture.frag
App/example/shader/glsl/default3d_forward.frag
App/example/shader/glsl/default3d_forward.vert
App/example/shader/glsl/default3d_forward_shadow_depth.frag
App/example/shader/glsl/default3d_forward_shadow_shading.frag
App/example/shader/glsl/extract_bright_linear.frag
App/example/shader/glsl/forward_fog.frag
App/example/shader/glsl/forward_triplanar.frag
App/example/shader/glsl/game_of_life.frag
App/example/shader/glsl/grayscale.frag
App/example/shader/glsl/homography.frag
App/example/shader/glsl/homography.vert
App/example/shader/glsl/multi_texture_blend.frag
App/example/shader/glsl/multi_texture_mask.frag
App/example/shader/glsl/poisson_disk.frag
App/example/shader/glsl/posterize.frag
App/example/shader/glsl/rgb_shift.frag
App/example/shader/glsl/rgb_to_bgr.frag
App/example/shader/glsl/soft_shape.vert
App/example/shader/glsl/swirl.frag
App/example/shader/glsl/terrain_forward.frag
App/example/shader/glsl/terrain_forward.vert
App/example/shader/glsl/terrain_normal.frag
App/example/shader/hlsl/default2d.hlsl
App/example/shader/hlsl/default3d_forward.hlsl
App/example/shader/hlsl/default3d_forward_shadow.hlsl
App/example/shader/hlsl/extract_bright_linear.hlsl
App/example/shader/hlsl/forward_fog.hlsl
App/example/shader/hlsl/forward_triplanar.hlsl
App/example/shader/hlsl/game_of_life.hlsl
App/example/shader/hlsl/grayscale.hlsl
App/example/shader/hlsl/homography.hlsl
App/example/shader/hlsl/multi_texture_blend.hlsl
App/example/shader/hlsl/multi_texture_mask.hlsl
App/example/shader/hlsl/poisson_disk.hlsl
App/example/shader/hlsl/posterize.hlsl
App/example/shader/hlsl/rgb_shift.hlsl
App/example/shader/hlsl/rgb_to_bgr.hlsl
App/example/shader/hlsl/soft_shape.hlsl
App/example/shader/hlsl/swirl.hlsl
App/example/shader/hlsl/terrain_forward.hlsl
App/example/shader/hlsl/terrain_normal.hlsl
App/example/shot.mp3
App/example/siv3d-kun.png
App/example/spritesheet/siv3d-kun-16.png
App/example/spritesheet/siv3d-kun-16.txt
App/example/svg/cat.svg
App/example/svg/README.txt
App/example/svg/turtle.svg
App/example/test.mp3
App/example/texture/credit.txt
App/example/texture/earth.jpg
App/example/texture/grass.jpg
App/example/texture/ground.jpg
App/example/texture/rock.jpg
App/example/texture/uv.png
App/example/texture/wood.jpg
App/example/toml/config.toml
App/example/toml/test.toml
App/example/txt/en.txt
App/example/txt/jp.txt
App/example/txt/kr.txt
App/example/txt/sc.txt
App/example/video/river.mp4
App/example/video/river.txt
App/example/windmill.png
App/example/xml/config.xml
App/example/xml/test.xml
App/example/zip/zip_test.zip
App/ShiftPath(debug).exe
App/AS_DEBUG/stats.txt
Intermediate/ShiftPath/Debug/Intermediate/Game.obj
Intermediate/ShiftPath/Debug/Intermediate/Main.obj
Intermediate/ShiftPath/Debug/Intermediate/ShiftPath.log
Intermediate/ShiftPath/Debug/Intermediate/ShiftPath.tlog/CL.14816.write.1.tlog
Intermediate/ShiftPath/Debug/Intermediate/ShiftPath.tlog/CL.command.1.tlog
Intermediate/ShiftPath/Debug/Intermediate/ShiftPath.tlog/CL.read.1.tlog
Intermediate/ShiftPath/Debug/Intermediate/ShiftPath.tlog/ShiftPath.lastbuildstate
Intermediate/ShiftPath/Debug/Intermediate/ShiftPath.tlog/unsuccessfulbuild
.vs/PathLogic/CopilotIndices/17.14.1686.8233/CodeChunks.db
.vs/PathLogic/CopilotIndices/17.14.1686.8233/CodeChunks.db-shm
.vs/PathLogic/CopilotIndices/17.14.1686.8233/CodeChunks.db-wal
.vs/PathLogic/CopilotIndices/17.14.1686.8233/SemanticSymbols.db
.vs/PathLogic/CopilotIndices/17.14.1686.8233/SemanticSymbols.db-shm
.vs/PathLogic/CopilotIndices/17.14.1686.8233/SemanticSymbols.db-wal
.vs/PathLogic/FileContentIndex/4bb947cb-3199-43b2-af18-486e57e8f868.vsidx
.vs/PathLogic/FileContentIndex/89ef0623-e790-49bf-ae05-5280ebdb1876.vsidx
.vs/PathLogic/FileContentIndex/d008e7a3-3e85-478b-b034-62b2049bad43.vsidx
.vs/PathLogic/FileContentIndex/fa7f7d4f-e05f-4452-ba5e-3081a1690342.vsidx
.vs/PathLogic/FileContentIndex/fbb61ffe-10ca-412c-aa2d-6fbddfd9572c.vsidx
.vs/PathLogic/v17/.suo
.vs/PathLogic/v17/Browse.VC.db
.vs/PathLogic/v17/Browse.VC.db-shm
.vs/PathLogic/v17/Browse.VC.db-wal
.vs/PathLogic/v17/Browse.VC.opendb
.vs/PathLogic/v17/DocumentLayout.json
.vs/PathLogic/v17/ipch/a0ab0c6863973b43.ipch
